﻿<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
    <head>
        <title>@ViewBag.Title</title>
        <meta content='width=device-width, initial-scale=1.0 maximum-scale=1.0' name='viewport'/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        @RenderSection("Styles", false)
        @RenderSection("MetaContent", false)
    </head>
    <body>
        @RenderBody()        
        <!-- scripts -->
        @RenderSection("Scripts", false)
    </body>
</html>
